:root {
  --logo-brand-color: #4d5ae5;
  --logo-positive-color: #2e2f42;
  --logo-negative-color: #f4f4fd;
  --grey: #757575;
  --grey-contacts: rgba(255, 255, 255, 0.6);
  --black: #212121;
  --white: #fff;
  --background-brand-color: #2e2f42;
  --background-button-color: #f5f4fa;
  --background-btn-color: #f4f4fd;
  --slate: #434455;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

/* Знімаю стилізацію з <a> */
.link-decor {
  text-decoration: none;
}

body {
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* color logo*/
/* header */
/* logo */

.menu-link.current {
  color: var(--logo-brand-color);
}

.logo,
.logo-positive,
.logo-negative {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-brand-color);
  text-decoration: none;
}

.logo-positive {
  color: var(--logo-positive-color);
}

.logo-negative {
  color: var(--logo-negative-color);
}

.menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* стилизация nav-box на действия */
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.menu-link-action:visited {
  color: var(--black);
}

.address-list {
}

/* Main content */

.main-content {
  background-color: var(--background-brand-color);
}

.main-content-title {
  font-weight: 900;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
}

.order-button {
  /*
	padding: 10px 32px;
  border-radius: 4px;
	*/
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--logo-brand-color);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  /* position: absolute; */
  white-space: nowrap;
  /* width: 1px;
  height: 1px;*/
  overflow: hidden;
  border: 0;
  /* padding: 0; */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--navy-blue);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Our Team */
.section-team {
  background-color: var(--background-btn-color);
}

.employee-item {
  background-color: white;
}

.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.employee-posiition {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Portfolio */
/* образцы работ */
.samples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.samples-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* footer */
.footer {
  background-color: var(--background-brand-color);
}
.ads {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
